build
/CMakeLists.txt.user
/.idea
/cmake-build-*
/scripts/build
/scripts/deps
CMakeCache.txt
cmake_install.cmake
Makefile
cmake-build-release/
test/
Testing/
*CMakeFiles*
*.a
*.cbp
.cmake/api/v1/reply
*ninja*
